<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>SwiftViperModule</string>
	<key>Description</key>
	<string>Basic Swift VIPER module template. Creates View, Interactor, Presenter, Router with protocols.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of module that you need create</string>
			<key>Default</key>
			<string></string>
			<key>Identifier</key>
			<string>viperModuleName</string>
			<key>Name</key>
			<string>Module name</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_viperModuleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>InputOutput</string>
			<key>Name</key>
			<string>Divide Interactor protocol (Input &amp; Output)</string>
			<key>Description</key>
			<string>Divide Interactor protocol (Input &amp; Output)</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
	<key>Template Author</key>
	<string>Juanpe Catalán - @JuanpeCMiOS</string>
</dict>
</plist>
